#wrapper {
  background-color:aliceblue;
}

header {
  background-color: #6b6b6b;
  background-image:  url("/sammal-kuviasuomesta.fi-roine-piirainen.jpg");
  background-size: cover; 
  text-align: center; 
  padding: 100px; 
  }
    
#luontokohteet {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #80a490;
  box-sizing: border-box;
  width: 40%; 
}

#luontokohteet2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 20px 5px #80a490 inset;
  box-sizing: border-box;
  width: 30%; 
}

#talvella{
  border: 2px solid black; 
  padding: 20px; 
  background-size: 20px 40px;
  background: url ("/latukuva.jpg")
      
)    
    
}
/* Tekstimuotoilut */
h1 {
  color: red; 
  text-shadow: 2px 1px 5px #000000;
  font-size: 80px;
    
}
h2 {
  text-shadow: 2px 1px blue;
}

h3 {
  text-shadow: 5px 5px 10px green;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
  }

a:link {
   font-size: 16px;     
    color: plum; 
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
  font-size: 30px; 
  transition: color 12, font-size: 0,5s;      
  }


