/*Sivun yleinen toiminta, pienillä laitteilla tapahtuva taustavärin ja tekstivärin muutos media-query*/
body {
 background-color: greenyellow; 
 color: white; 
}

@media screen and (min-width: 600px) {
	body {
		background-color: aliceblue; 
		color: black;
	}
}
 header {
   background-color: #6b6b6b;
   background:  url(sammal-kuviasuomesta.fi-roine-piirainen.jpg);
   background-size: cover; 
   text-align: center; 
   padding: 100px; 
 }
 
 #luontokohteet {
  border: 1px solid; 
  padding: 10px;
  box-shadow: 5px 10px #80a490;
  box-sizing: border-box; 
  width: 40%;
  height: 170px; 	 
 }  
 

 #luontokohteet2 {
  border: 1px solid; 
  padding: 10px; 
  box-shadow: 5px 10px 20px 5px #80a490 inset; 
  box-sizing: border-box; 
  width: 70%;
  clear: both;  

  }
  
#luontokohteet3 {
  border: 1px solid; 
  padding: 10px; 
  box-shadow: border: 1px solid;
  padding: 10px;
  box-shadow: 10px 20px 5px 5px #80a490; 
  box-sizing: border-box; 
  width: 70%;
  clear: both; 
  }
 #talvella {
  border: 2px solid black; 
  padding: 20px;
  background: url(huurteinen_puu.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 30%;
  height: 300px;
  color: azure; 
  float: right; 
  box-sizing: border-box; 	 
  }

.kolmipalstainen {
    column-count: 3;  
    }  

#onnistui  {
  background-color: red;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  font-size: 12px;
  margin: 2px 2px;
  opacity: 0.6;
  transition:  width 2s, height 4s;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

#onnistui:hover {
  width: 70px;
  height: 70px;
}


 /*tekstimuotoilut */
 h1 {
  color: red;
  text-shadow: 2px 1px 5px #000000;
  font-size: 80px;
  }
  
 h2 {
 text-shadow: 5px 5px 10px green;
 }
 
 h3 {
  text-shadow: 5px 5px 10px green;
  }
  
 a:visited {
  color: red; 
  background-color: transparent; 
  text-decoration: none;
  }
  
 a:link {
  font-size: 16px;
   color: plum;
   transition: 2s;
  }
  
  a:hover {
	color: green;
	background-color: transparent;
	text-decoration: underline;
	font-size: 30px;
	transition: color 0.5s;
	transition: font-size 0.5s;   
  }
  
  #uutta {
	text-shadow: 4px 4px 10px red;
	font-size: 30px;
  }
  
  
