a {
  color: #eb87ce;
}

h2 {
  color: skyblue;
}

.nav-link {
color: #4c4cff;
}

.kuvat{
  margin: 5px;
  border: 2px solid #ccc;
  padding: 30px;
  }
  
footer {
color: #eb87ce;
} 
