/*karuselli pääsivulla*/
.carousel-caption {
    color: ghostwhite;
    text-decoration-style: wavy
    caption-side: top; 
    text-align: right;  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ghostwhite; 
}

/*thumbnailkuvat*/
.thumbnail img {
  border-radius: 6px;
  height:200px; 
  width:250px;    
}

.img-responsive {
    font-size: 12px; 
}

/*kohteet pääkuva*/
.bg-image {
    background-repeat:no-repeat; 
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 100px; 
        
}

#kohdevalinta {
    text-align: center;
    margin-bottom: 20px; 
     }


.jumbotron text-center{
    background-color: black;
}




/*accordion_kohteet sivulla*/
.accordion {
   background-color:  #b2c5b8	 ;
 color:  #444;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;   
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/*accordion_hover on harmaa*/
.active, .accordion:hover {
  background-color: #ccc; 
}

.card {
    background-color: #d9e3d5 ;
}
 



.container {
    width: 100%; 
    padding-top: 40px;

}
/*End_accordion*/

/*video mallia täältä: https://www.w3schools.com/css/css_rwd_videos.asp ja https://avexdesigns.com/blog/responsive-youtube-embed*/
video {
  max-width: 100%;
  height: auto;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*End-video*/


/*Yksittäiset_id:t*/

#kansallispuisto {
    border: 1px solid #b2c5b8; 
    padding: 20px;
    margin-left: 5px;
    margin-top: 10px;
    heigth: 850px; 
}

#linkkeja {
    border: 1px solid #b2c5b8; 
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
}


#sivuboxi {
    background-color: #d9e3d5 ;
    border: 1px solid #b2c5b8;
    height: 500px;
    margin-top: 60px; 
}

#nuotio {
    margin-top: 20px; 
    left: 10px;
    
}
/*End_Yksittäiset_id:t*/

/*Teksityypit yms. muotoilut*/

.btn-link
{
    color: #50513f	;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*mukailtu takaisin ylös-nappi: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed;  /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6c757d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}
/*mukailtu takaisin ylös-nappi*/
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


.responsive {
  max-width: 100%;
  height: auto;
}

/*mukailtu täältä: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote*/
blockquote {
    margin: 0;
    font-style:italic;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

.tab-pane { 
   border:solid 1px #b2c5b8;
   border-top: 0;
   background-color: #d9e3d5  
}

.tab-content {
    border-top: 0;
    margin-top: 5px;
    
}

.luontopolut {
    padding-top: 40px; 
}
.muutkohteet {
box-sizing: border-box;
    width: 300px;
    height: 1300px; 
    padding: 10px; 
    border: 1px solid black;
    margin-bottom: 10px; 
}
    

/* Tabit_lyhyetkohteetsivulla */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #d9e3d5;
  float: left;
  border: solid 1px;
  border-radius: 8px
  outline: none;
  cursor: pointer;
  text-decoration: inherit;   
  padding: 10px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
    
