body  {
 background-color: Gainsboro; 
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnuxoD3Ljz44S9nywRnGrNG4M51acp0PiLHg&usqp=CAU);
 background-repeat: repeat-x;
  background-size: 300px 100px;
 } 
 
  h1 {
  font-family: georgia;
 }
  
  h2 {
  font-family: arial;
  font-size: 20px;
  color:black;
  border-style: groove;
  border-bottom: 2px solid darkgrey; padding: 5px;
  border-left: 2px solid darkgrey; padding: 5px;
  border-right: 2px solid darkgrey; padding: 5px;
  border-top: 2px solid darkgrey; padding: 5px;
  width: 300px;
}
  p {
  font-family: arial;
  font-size: 16px;
  color:black;
  background-color: LavenderBlush;
  border-radius: 5px;
  width: 300px;
  padding: 10px; 
}
  div.seemore {
  position: right;
  right: 370px;  
  width: 160px;
  height: 30px;
  border: 3px double blue;
  padding: 10px;
} 
#editing-graphics {
font-family: arial;
font-size: 16px;
color:black;
position: static;
right: 170px
} 

div.basics{
color: lime;
} 

figcaption {
  background-color: white;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: left;
  width:200px; 
}

