/*Taustan väri*/
body  {
 background-color: #dcdcdc;
 background-position: right bottom
 background-image: url("https://images.pexels.com/photos/262212/pexels-photo-262212.jpeg?cs=srgb&dl=pexels-pixabay-262212.jpg&fm=jpg");
 background-repeat: repeat;
 background-size: 200px 100px;
 } 
 
/* Style the header */
header {
  background-color: #6b6b6b;
  background-image: url("https://images.pexels.com/photos/675267/pexels-photo-675267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed; 
  opacity: 0.6;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: black;
  height: 150px;
}

/*Style navigation pane in header*/
ul {
 list-style-type: none; 
 margin: 0;
 padding: 0;
 overflow: hidden; 
  }

/*Style headings, paragrahps */
  h1 {
  font-family: georgia;
 }
 
  h2 {
  font-family: arial;
  font-size: 20px;
  color:black;
  background-color: #f5f5dc;
  border-style: groove;
  border-radius: 25px;
  border-bottom: 2px solid darkgrey; padding: 5px;
  border-left: 2px solid darkgrey; padding: 5px;
  border-right: 2px solid darkgrey; padding: 5px;
  border-top: 2px solid darkgrey; padding: 5px;
  width: 200px;
}

  p {
  font-family: arial;
  font-size: 16px;
  color:black;
    }

a {
  font-family: arial;
  font-size: 16px;
  color:black;
  }

/*Style div */

div.Cities {
float: left; 
}

div.Reitinpituus {
  float: left;
 } 

div.Puistot  {
  float: left;
 } 

div.seemore {
  position: right;
  width: 160px;
  height: 30px;
  border: 3px double blue;
  padding: 10px;
} 

div.metsäkuvat1 {
margin-right: 40px;
} 

/*Navigaatiopalkki
nav {
  list-style-type:none
  float: left;
  width: 100%;
  height: 200px; /* only for demonstration, should be removed */
  background: #15281e;
  padding: 40px;
}

/*Footerpalkin koko
footer {
position: fixed;
background-color: #6b6b6b;
width: 100%;
height: 100 px;
text-align: center;
font-size: 12px;
color: black;
}



/*Secondhtml css-asetuksia */
div.metsäkuvat   {
  position: top right;
  margin-top:1 em;
  margint-top: 1 em;
  margin-left: 200 px;
  margin-right: 20 px;
    } 

figcaption {
  background-color: grey;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: left;
  width:200px; 
}

#editing-graphics {
font-family: arial;
font-size: 16px;
color:black;
position: static;
right: 170px
} 
