body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dcdcdc;
  
}

/* Style the header */
header {
  background-color: #6b6b6b;
  background-image:  url("https://images.pexels.com/photos/675267/pexels-photo-675267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: black; 
  font-size: 25px;
  opacity: 0.6;
  padding: 30px;
  text-align: center;
  
}

/* Create two columns/boxes that floats next to each other */

/* Style the list inside the menu */
nav ul {
  font-weight: bold;
  list-style-type: none;
  padding: 3px;
 }

.main {
  background-color: #C73272;
  border: 5px solid; 
  float: right; 
  padding: 5px;
  width: 88%
   }


/* Style the footer */
footer {
  background-color: #6b6b6b;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Style the aside */
aside {
  background-color: #5eaa5e;
  color: white;
  float: left; 
  margin-top: 70px;
  padding: 5px;
  text-align: center;
  width: 10%;
 
}

/* Style the linkstyle, paragraphs, headings */

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

  h1 {
  font-family: georgia;
    }



